﻿@model prog_ing_DostavaHrane.Models.Context.Hrana

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Hrana</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestoranId" class="control-label"></label>
                <select asp-for="RestoranId" class ="form-control" asp-items="ViewBag.RestoranId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipId" class="control-label"></label>
                <select asp-for="TipId" class ="form-control" asp-items="ViewBag.TipId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Slika" class="control-label"></label>
                <input asp-for="Slika" class="form-control" />
                <span asp-validation-for="Slika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
