﻿@model prog_ing_DostavaHrane.Models.Context.Hrana

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hrana</h4>
    <hr />
    @Html.HiddenFor(model => model.Id)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt>
            Ime restorana
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Restoran.Naziv)
        </dd>
        <dt>
            Adresa restorana
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Restoran.Adresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tip.Naziv)
        </dd>
        <dt>
            Količina
        </dt>
        <dd>
            <button id="remove-button">-</button>
            <label id="kolicina">
                @Html.DisplayFor(model => model.Kolicina)
            </label>
            <button id="add-button">+</button>
        </dd>
        <dt>
            Likes
        </dt>
        <dd>
            <label id="glasovi">
                @Html.DisplayFor(model => model.Glasovi)
            </label>
        </dd>
    </dl>
</div>
<img src="@Model.Slika" alt="Alternate Text" />
<div>
    <br />
    <br />
    <a asp-action="Index"><img style="width:64px;margin-right:15px" src="~/images/backbutton.png" alt="backbutton" /></a>
    <a href="#" id="like-button"><img style="width:64px" src="~/images/like.png" alt="likebutton" /></a>
</div>

@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#like-button").click(function () {
                $.ajax({
                    url: '/Hranas/UvecajGlas',
                    type: 'POST',
                    traditional: true,
                    data: { id: $("#Id").val() },
                    success: function (result) {
                        $("#glasovi").text(result);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.responseText);
                    },
                });
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#add-button").click(function () {
                $.ajax({
                    url: '/Hranas/DodajJos',
                    type: 'POST',
                    traditional: true,
                    data: { id: $("#Id").val() },
                    success: function (result) {
                        $("#kolicina").text(result);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.responseText);
                    },
                });
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#remove-button").click(function () {
                $.ajax({
                    url: '/Hranas/MakniJos',
                    type: 'POST',
                    traditional: true,
                    data: { id: $("#Id").val() },
                    success: function (result) {
                        $("#kolicina").text(result);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.responseText);
                    },
                });
            });
        });
    </script>
}
