﻿@model IEnumerable<prog_ing_DostavaHrane.Models.Context.Hrana>

@{
    ViewData["Title"] = "Naruči.hr";
}

<h2>Tvoja košarica</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slika)
            </th>
            <th>
                Naziv restorana
            </th>
            <th>
                Adresa restorana
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tip)
            </th>
            <th>
                Likes
            </th>
            <th>
                Količina
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr style="vertical-align:middle">
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Slika)" alt="slika hrane" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restoran.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restoran.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tip.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Glasovi)
            </td>
            <td>
                <label>@Html.DisplayFor(modelItem => item.Kolicina)</label>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="DeleteIzKosarice" asp-route-id="@item.Id">Ukloni</a>
            </td>
        </tr>
            
        }
    </tbody>
</table>
@if (Model.Count() != 0)
{
    <a asp-action="PotvrdiNarudzbu"><img style="margin-left:130px" src="~/images/ultimatenaruci.png" alt="PotvrdaNarudzbe" /></a>
}
else
{
    <a asp-action="Index"> Košarica je prazna - naruči hranu!</a>
}

