﻿@{
    ViewData["Title"] = "Home Page";
}


    <div class="row" style="margin-left:150px">
        <div class="col-md-3">
            <img src="~/images/naruci.png" alt="NaruciHranu" />
            <ul style="text-align:center;list-style:none;font-size:130%;margin-left:20px">
                <li><a asp-controller="Hranas" asp-action="Index">Pokaži mi svu hranu!</a></li>
                <li><a asp-controller="Hranas" asp-action="TopHrana">Najpopularnija hrana!</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <img src="~/images/kategorije.png" alt="KategorijeHrane" />
            <ul style="text-align:center;list-style:none;font-size:130%;margin-left:20px">
                <li><a asp-controller="Hranas" asp-action="HranaPoKategoriji" asp-route-id="1">Meso</a></li>
                <li><a asp-controller="Hranas" asp-action="HranaPoKategoriji" asp-route-id="9">Japanska</a></li>
                <li><a asp-controller="Hranas" asp-action="HranaPoKategoriji" asp-route-id="2">Roštilj</a></li>
                <li><a asp-controller="Hranas" asp-action="HranaPoKategoriji" asp-route-id="10">Prilozi</a></li>
                <li><a asp-controller="Hranas" asp-action="HranaPoKategoriji" asp-route-id="6">Talijanska</a></li>
                <li><a asp-controller="Hranas" asp-action="HranaPoKategoriji" asp-route-id="7">Riba</a></li>
                <li><a asp-controller="Hranas" asp-action="HranaPoKategoriji" asp-route-id="11">Salata</a></li>
                <li><a asp-controller="Hranas" asp-action="HranaPoKategoriji" asp-route-id="12">Desert</a></li>
                <li><a asp-controller="Hranas" asp-action="HranaPoKategoriji" asp-route-id="13">Juha</a></li>
                <li><a asp-controller="Hranas" asp-action="HranaPoKategoriji" asp-route-id="3">Vegeterijanska</a></li>
                <li><a asp-controller="Hranas" asp-action="HranaPoKategoriji" asp-route-id="5">Pizza</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <img src="~/images/restorani.png" alt="Restorani" />
            <ul style="text-align:center;list-style:none;font-size:130%;margin-left:20px">
                <li><a asp-controller="Restorans" asp-action="RestoraniPoGradu" asp-route-id="1">Zagreb</a></li>
                <li><a asp-controller="Restorans" asp-action="RestoraniPoGradu" asp-route-id="2">Rijeka</a></li>
            </ul>
        </div>
    </div>
