﻿@model prog_ing_DostavaHrane.Models.Context.Restoran

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Restoran</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mjesto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mjesto.Naziv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
