﻿@model IEnumerable<prog_ing_DostavaHrane.Models.Context.Restoran>

@{
    ViewData["Title"] = "Naruči.hr";
}

<h2>Restorani u odabranom gradu:</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mjesto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Hranas" asp-route-id="@item.Id" asp-action="HranaPoRestoranu">@Html.DisplayFor(modelItem => item.Naziv)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mjesto.Naziv)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
